* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

article, details, main, menu {
    display: block;
}

html, body {
    background: purple;
}

body {
    color: #fff;
    font: 24px/26px 'american typewriter', sans-serif;
    padding: 0 10%;
}

.logo {
    font-family: Webdings, sans-serif;
}

h1, ul {
    margin: 1em 0;
}

h1 {
    cursor: pointer;
}

h1:hover {
    text-shadow: 0 0 15px rgba(0,0,0,.5);
}

.where ul {
    list-style: none;
}

.when {
    color: #eee;
    display: block;
    font-size: 70%;
    font-style: normal;
}

li a {
    background: rgba(255,255,255,.2);
    /*border-radius: 10px;*/
    display: block;
    padding: 5px 10px;
}

li a:hover {
    background: rgba(255,255,255,.4);
}

li a.active {
    background: rgba(255,255,255,.4);
    color: #000;
}

li + li {
    margin-top: .5em;
}

section[id] {
    display: none;
}

section[id].active {
    display: block;
}

article {
    background: rgba(255,255,255,.2);
    display: block;
    padding: 1.5em 1em;
}

main article, main menu {
    opacity: 0;
    transition: .3s opacity ease-in-out;
}

main .show {
    opacity: 1;
}

details {
    color: #ccc;
    font-size: 80%;
    margin-top: .5em;
}

header {
    float: left;
}

menu {
    background-color: rgba(0,0,0,.3);
    padding: 1em;
    text-align: right;
}

menu.main {
    float: right;
    font-size: 80%;
    margin: 1.5em 0;
}

main {
    clear: both;
}

button {
    background: purple;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    padding: .5em 1em;
}

button + button {
    margin-left: 1em;
}

button:hover {
    background: #fff;
    color: purple;
}

.said-it {
    background: darkgreen;
}

.said-it:hover {
    color: darkgreen;
}

.skip-it {
    background: gray;
}

.skip-it:hover {
    color: gray;
}

.forget-it {
    background: darkred;
}

.forget-it:hover {
    color: darkred;
}
