* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

article, details, main, menu {
    display: block;
}

html, body {
    background: purple;
}

body {
    color: #fff;
    font: 18px/20px 'avenir next', 'american typewriter', sans-serif;
}

.logo {
    font-family: Webdings, sans-serif;
}

h1 {
    cursor: pointer;
    line-height: 1.5;
    padding: 0 15px;
}

h1:hover {
    text-shadow: 0 0 15px rgba(0,0,0,.5);
}

article {
    background: rgba(255,255,255,.2);
    display: block;
    font-size: 28px;
    line-height: 1.3;
    padding: 30px 15px;
}

details {
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
    margin-top: 15px;
}

header {
    float: left;
}

menu {
    background-color: rgba(0,0,0,.3);
    padding: 15px;
    text-align: right;
}


main {
    clear: both;
}

menu {
    /* To allow `button`s to be `display: inline-block` */
    overflow: hidden;
    font-size: 0;
}

menu * {
    font-size: 16px;
}

/* Hide every button except the "Add Card" button. */
main menu.empty button:not(.add-card) {
    display: none;
}

button, .button {
    background: purple;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 18px;
    line-height: 1;
    padding: 10px 15px;
}

button[type=submit] {
    padding: 10px 60px;
}

.button.cancel {
    background: rgba(0,0,0,.1);
    color: #ccc;
}

button + button,
button + .button {
    margin-left: 15px;
}

button:hover {
    background: #fff;
    color: purple;
}

.button.cancel:hover {
    background: #ccc;
    color: purple;
}

.add-card {
    display: none;  /* When you select a card we make this `display: block` */
}

button.add {
    float: left;
}

.said-it {
    background: darkgreen;
}

.said-it:hover {
    color: darkgreen;
}

.skip-it {
    background: gray;
}

.skip-it:hover {
    color: gray;
}

.forget-it {
    background: darkred;
}

.forget-it:hover {
    color: darkred;
}

menu form {
    display: inline-block;
    margin-right: 15px;
}

select[name=deck] {
    font-size: 120%;
}

input[type=text], label, select, textarea {
    display: block;
}

input[type=text], textarea {
    border-width: 0;
    font: inherit;
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

input[name=title] {
    font-size: 20px;
    font-weight: 500;
}

textarea {
    font: inherit;
    height: 50px;
    margin-top: 5px;
}

textarea[name=body] {
    font-size: 20px;
    height: 75px;
}

label {
    margin-bottom: 30px;
}

header, menu.main {
    float: none;
}

menu.main {
    background: rgba(255,55,155,.4);
    margin: 0;
    padding: 15px;
}

article {
    padding: 30px 15px;
}

.create {
    /* Clicking on "Add Card" toggles the form. */
    display: none;
}
