* {
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

article, details, main, menu {
    display: block;
}

html, body {
    background: purple;
}

body {
    color: #fff;
    font: 24px/26px 'american typewriter', sans-serif;
    padding: 0 10%;
}

.logo {
    font-family: Webdings, sans-serif;
}

h1 {
    cursor: pointer;
    margin: 1em 0;
}

h1:hover {
    text-shadow: 0 0 15px rgba(0,0,0,.5);
}

article {
    background: rgba(255,255,255,.2);
    display: block;
    font-size: 150%;
    line-height: 1.1;
    padding: 1.5em 1em;
}

details {
    color: #ccc;
    font-size: 50%;
    margin-top: 1em;
}

header {
    float: left;
}

menu {
    background-color: rgba(0,0,0,.3);
    padding: 1em;
    text-align: right;
}

menu.main {
    float: right;
    font-size: 80%;
    margin: 1.5em 0;
    padding: 1em 1.25em;
}

main {
    clear: both;
}

button {
    background: purple;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    padding: .5em 1em;
}

button + button {
    margin-left: 1em;
}

button:hover {
    background: #fff;
    color: purple;
}

.said-it {
    background: darkgreen;
}

.said-it:hover {
    color: darkgreen;
}

.skip-it {
    background: gray;
}

.skip-it:hover {
    color: gray;
}

.forget-it {
    background: darkred;
}

.forget-it:hover {
    color: darkred;
}
